@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Account";
}

<h1>Hello, @ViewBag.Data.Username</h1>

<a href="/Account/Owned" class="btn btn-lg btn-default">My Owned Products</a>
<hr />
<h2>Settings</h2>
<form class="form-inline" method="post" action="/Account">
    <div class="input-group" style="width:100%">
        <span class="input-group-addon">Email Address</span>
        <input id="product_key" class="form-control" style="min-width:100%" type="text" name="NewEmailAddress" value="@ViewBag.EmailAddress" />
    </div>
    <br />
    <div class="input-group" style="width:100%">
        <span class="input-group-addon">Username</span>
        <input id="product_key" class="form-control" style="min-width:100%" type="text" name="NewUsername" value="@ViewBag.Username" />
    </div>
    <br />
    <div class="input-group" style="width:100%">
        <span class="input-group-addon">New Password</span>
        <input id="product_key" class="form-control" style="min-width:100%" type="password" name="NewPassword" placeholder="Only required if you want to change it" value="@ViewBag.NewPassword" />
    </div>
    <br />
    <div class="input-group" style="width:100%">
        <span class="input-group-addon">Confirm it</span>
        <input id="product_key" class="form-control" style="min-width:100%" type="password" name="ConfirmNewPassword" placeholder="Same as above" value="@ViewBag.ConfirmNewPassword" />
    </div>
    <br />
    <div class="input-group" style="width:100%">
        <span class="input-group-addon">Current Password (Required)</span>
        <input id="product_key" class="form-control" style="min-width:100%" type="password" name="CurrentPassword" placeholder="Required for verification" value="" />
    </div>
    <br />
    <input class="btn btn-default" style="min-width:100%" type="submit" value="Save changes" />
    <hr />
    @if (ViewBag.Error)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @Html.Raw(ViewBag.Message)
        </div>
    }
    @if (ViewBag.SaveOk != null)
    {
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Success:</span>
            Account changes saved! You may need to log back in and/or reconfirm your email address.
        </div>
    }
</form>