@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Create Account";
}

<h1 style="text-align:center">Create your ZSB account</h1>
<br />
<div class="col-md-6 col-md-offset-3">
    <form class="form-inline" method="post">
        <div class="input-group" style="width:100%">
            <span class="input-group-addon" id="basic-addon1">Email address</span>
            <input class="form-control" style="min-width:100%" type="email" name="EmailAddress" placeholder="E.g. my_name@domain.com" value="@ViewBag.EmailAddress" />
        </div>
        <br />
        <div class="input-group" style="width:100%">
            <span class="input-group-addon" id="basic-addon1">Username</span>
            <input class="form-control" style="min-width:100%" type="text" name="Username" placeholder="E.g. l337_master" value="@ViewBag.Username" />
        </div>
        <br />
        <div class="input-group" style="width:100%">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input class="form-control" style="min-width:100%" type="password" name="Password" placeholder="Choose something secure" value="@ViewBag.Password" />
        </div>
        <br />
        <div class="input-group" style="width:100%">
            <span class="input-group-addon" id="basic-addon1">Confirm it</span>
            <input class="form-control" style="min-width:100%" type="password" name="ConfirmPassword" placeholder="Just copy what you wrote before" value="@ViewBag.ConfirmPassword" />
        </div>
        <br />
        <input type="hidden" name="ChallengeId" value="@ViewBag.ChallengeId" />
        <div class="input-group" style="width:100%">
            <span class="input-group-addon" id="basic-addon1">@ViewBag.ChallengeQuestion</span>
            <input class="form-control" style="min-width:100%" type="text" name="ChallengeAnswer" placeholder="" />
        </div>
        <input type="hidden" name="ChallengeQuestion" value="@ViewBag.ChallengeQuestion" />
        <br />
        <input class="btn btn-default" style="min-width:100%" type="submit" value="Create my account" />
    </form>
    <hr />
    @if (ViewBag.Error)
    {
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            @Html.Raw(ViewBag.Message)
        </div>
    }
</div>

<div class="clearfix"></div>